.currentBid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutrals-2);
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 2.5rem 0;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
}

.price {
  margin-bottom: 1.5rem;
  text-align: center;
}

.priceHeading {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutrals-8);
}

.ethPrice {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--neutrals-8);
}

.usdPrice {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--neutrals-4);
}

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 14.375rem;
  width: 100%;
}

.countdownHeading {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--neutrals-8);
  margin-bottom: 0.5rem;
}

.countdownMeasure {
  width: 4rem;
  text-align: center;
}

.measure {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--neutrals-8);
}

.measureLabel {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutrals-4);
}
