.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--neutrals-3);
  border-radius: 90px;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 1.5rem;
  font-family: 'DM Sans';
  color: var(--neutrals-8);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}

.secondary {
  transition:
    border-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.secondary:hover {
  border-color: var(--neutrals-6);
  box-shadow: 0 0 0.5rem var(--neutrals-5);
}

.primary {
  background-color: var(--primary-1);
  border: none;
  transition: box-shadow 0.2s ease-in-out;
}
.primary:hover {
  box-shadow: 0 0 0.5rem var(--primary-1);
}

.text {
  border: 0;
  padding: 0;
  color: var(--neutrals-4);
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.67;
  transition: color 0.2s ease-in-out;
}
.text:hover {
  color: var(--neutrals-8);
}
